# Neon — branch dev (uso local, desarrollo)
DATABASE_URL=""

# Neon — branch main (produccion)
DATABASE_URL_PROD=""

#BETTER_AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
#GITHUB OAUTH
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=